.bg-number {
    background-color: var(--bg-number);
}

.number-col {
    color: var(--number-col);
}

.number-col-normal {
    color: white;
}

.step {
    color: var(--text-col);
}

.next {
    background-color: var(--button);
    padding: 10px 30px;
    border-radius: 8px;
    align-self: flex-end;
    transition: .4s;
}

.back:hover {
    text-decoration: underline;
}

.next:hover {
    background-color: var(--button-hover);
}

.toggle {
    transition: .2s;
}

input[type = "checkbox"]:checked + .toggle {
    transform: translateX(135%);
}

.plan[data-checked = true] {
    background-color: var(--selected);
    border: 1px solid var(--button-hover);
}