@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100vh;
    width: 100vh;
    background-color: var(--bg);
    font-family: "Ubuntu";
    font-weight: 400;
}

h1 {
    font-weight: 800;
    font-size: 32px;
}

input {
    border: 1px solid var(--border);
    padding: 10px;
    border-radius: 8px;
}

button {
    background-color: var(--button);
    color: white;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 8px;
    align-self: flex-end;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: .8s;
}

button:hover {
    background-color: var(--button-hover);
}

:root {
    --bg-number: hsl(228, 100%, 84%);
    --text-col: hsl(231, 11%, 63%);
    --number-col: hsl(213, 96%, 18%);
    --bg: hsl(231, 100%, 99%);
    --border: hsl(229, 24%, 87%);
    --button: hsl(213, 96%, 18%);
    --button-hover: hsl(243, 100%, 62%);
};
